@charset "UTF-8";

@media (max-width: 780px) {
    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    div#grid {
        margin: 0px;
        display: block;
    }

    header {
        display: block;
        height: 10px;
        margin-top: 30px;

        & h1,
        h2 {

            font-size: 1em;
            font-weight: bolder;
            text-align: center;
        }
    }

    img {
        margin: auto;
        width: 0px;
    }

    article {
        margin: auto;
        align-items: center;
        width: 300px;

        & h3 {
            text-align: center;
        }

        & p {
            margin-left: 6px;
            text-align: center;
        }

        & input::placeholder {
            color: #323ff098;
            padding: 10px;
        }

        & button {
            margin: 20px 50px 10px 65px;
        }

        & #esqSenha {
            margin-left: 0px;
        }

        #regCadastro {
            font-weight: lighter;
            margin-top: -17px;
            margin-left: 0px;
        }

        & #alertarLogin {
            margin-left: 5px;
        }
    }
}

@media (min-width: 781px) and (max-width: 1300px) {
    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    header {
        display: block;
        height: 30px;
        margin-top: 30px;

        & h1,
        h2 {

            font-size: 1.2em;
            font-weight: bolder;
            text-align: center;
        }
    }



    #sideA {
        height: 100vh;
        width: 50vw;

        & img {
            margin: 0;
            width: 550px;
        }
    }

    #sideB {
        height: 100vh;
        width: 60vw;
    }

    article {
        margin: 90px 0 0 100px;
        width: 300px;


        & button {
            margin: 20px 50px 10px 65px;
        }

        & #esqSenha {
            margin-left: 0px;
        }

        #regCadastro {
            font-weight: lighter;
            margin-top: -17px;
            margin-left: 0px;
        }

        & #alertarLogin {
            margin-left: 5px;
        }
    }

}